@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");

/* Header Part */

.container-fluid {
  border: 1px solid #e0dddd;
  margin: 33px 52px;
  background-color: white;
}
.sec-1
{
  margin: auto 80px;
}

  .grid-item {
    
    font-size: 18px;
    text-align: center;
    
  }
 

/* Color Picker */

  .grid-container1 {
    position: relative;
    display: grid;
    grid-template-columns: 282px 436px 394px;
  }
  .grid-container2 {
    position: relative;
    display: grid;
    grid-template-columns: 332px 432px 246px;
  }
  .grid-container3 {
    position: relative;
    display: grid;
    grid-template-columns: 337px 380px 350px;
  }
  .sp-replacer {
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    padding: 5px;
    display: inline-block;
    border: solid 1px #e6e4e4 !important;
    background: #f9f9f9 !important;
    width: revert;
    vertical-align: middle;
    
}
  .sp-preview {
    position: relative;
    width: 14px !important;
    height: 14px !important;
    border: none !important;
    margin-right: 6px;
    float: left;
    z-index: 0;
    margin-top: 3px !important;
}
  .sp-dd {
    padding: 2px 9px !important;
    height: 16px !important;
    line-height: 16px;
    float: left;
    font-size: 10px;
    color: gray !important;
}
.txt-color
{
    margin-right: 5px;
}

.background {
    margin: 10px;
    color: rgb(75, 73, 73);
}


/* Header Text */

.sec-3 {
  margin: auto;
  width: 91.222%;
  
}
header
{
    background-color: red;
    max-height: 80px;
}
.logo {
    color: white;
    float: left;
    margin-left: 10px;
}
.logo i {
  font-size: 40px;
}
.logo .name
{
  position: relative;
  bottom: 15px;
  font-size: 25px;
}
.logo .ui
{
  position: relative;
  left: 50px;
  font-size: 11px;
  bottom: 20px;
}
.fix
{
    clear: both;
}
nav {
    float: right;
}
.nav  {
    display: flex;
}
.nav li{
    list-style: none;
    margin-top: 10px;
}
.nav li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 0px 10px;
}
.cont-btn
{
  color: red;
  padding: 10px 10px;
  border: none;
  position: relative;
  bottom: 5px;
  background-color: white;
}

.container {
  vertical-align: middle;
  text-align: center;
  /* padding: 0 4rem; */
}

.tabs {
  list-style: none;
  display: grid;
  grid-template-columns: 380px 380px 380px;
}

.tabs li {
  text-align: center;
  background-color: #e0dddd;
  padding: 1rem;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.45s ease-in-out;
  font-size: 18px;
}

.tabs li.active {
  background-color: #12afef;
  color: white;
}
.tabs li.active::after
{
	content: "";
	position:relative;
  top: 47px;
  right:38px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #12afef !important;
}

.tabs li > a {
  text-decoration: none;
  color: #0f0f0f;

}

.tabs-content {
  border-top: 0;
}

.tabs-panel {
  padding: 1rem 1rem;
  display: none;
}

.tabs-panel.active {
  display: block;
}

@media (max-width: 480px) {
  .tabs {
    grid-template-columns: 1fr;
  }
}


/* main body */

.containerbox {
  max-width: 93.22222%;
  
}

.main-body {
  float: left;
  width: 50%;
}
.main-body p {
      
  text-align: justify;
  
  line-height: 1.2;
}
.mainbody-sec {
  
  background: lightgray;
  padding-left: 5px;
}
.sec-img img {
  height: 173px;
  width: 90%;
  margin-top: 7px;
}
.mainbody-head p {
  text-align: justify;
  line-height: 1.2;
}
.mainbody-head {
  padding: 5px 11px;
}
.mainbody-head h1 {
  text-align: justify;
}
.mainbody-head .sendbtn {
  color: white;
  border-radius: 50px;
  background-color: red;
  padding: 11px;
  width: 382px;
  border: none;
}
              

/* side bar */

.details p {
  text-align: justify;
  padding-left: 10px;
}
.details h1 {
  text-align: justify;
  padding-left: 10px;
}
.details .btn1 {
  color: white;
  padding: 10px;
  background-color: red;
  border: none;
  width: 220px;
  margin: 10px;
}
.details .btn2 {
  color: red;
  padding: 10px;
  background-color: white;
  border: none;
  width: 220px;
  margin: 10px;
}
.details span {
  position: relative;
  left: 70px;
}
.details span i {
  font-size: 25px;
  border-radius: 50px;
  color: white;
  padding: 3px;
}
.alldiv {
  border: 1px solid gray;
}